<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayLightControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TrayLightControl.Properties.Settings>
            <setting name="BridgeAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="GroupName1" serializeAs="String">
                <value>Group 1</value>
            </setting>
            <setting name="GroupName2" serializeAs="String">
                <value>Group 2</value>
            </setting>
            <setting name="GroupName3" serializeAs="String">
                <value>Group 3</value>
            </setting>
            <setting name="GroupName4" serializeAs="String">
                <value>Group 4</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </TrayLightControl.Properties.Settings>
    </userSettings>
</configuration>